.Personal-about-maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.Personal-loanmain-divcon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  margin: 12px;
}
.About-Personalloan-container {
  width: 500px;
  color: grey;
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  padding: 12px;
  border-radius: 9px;
}
.About-Personalloan-container span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-scrollbar {
  display: none;
}
.about-read-more-less {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  outline-style: none;
  display: flex;
  flex-direction: column;
  color: grey;
}

.personal-loan-interst {
  display: flex;
  align-items: center;
}

/* note points logo */
#Personallogo--div {
  color: orange;
}
/* .Personal-loanimg-container{
    width: 300px;
  } */
.Personal-benefit-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  line-height: 30px;
}
/* Personal-loan-criteria */

.Personal-loan-criteriacontainer span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  line-height: 30px;
}
/* uvnderline div */

.icons__value{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:.5rem;
}

.personal-loanuvnder-div h2:hover {
  text-decoration: 2px solid orange underline;
}

/* Personal Total Container */

.Personal-total-divcontainer {
  margin: 40px 80px;
}
